<!--[if lt IE 10]>
	<div id="badbrowser">
		<span class="h3">Oh dear! Well, this is embarrassing...</span>
		<p>I have not bothered to make this site work on things older than Internet Explorer 10. Yet, you are obviously using versions older than that. Shame on me. I should know my audience better.</p>
		<p>Here is the gist. I have over 6 years of work experience in UX and Interaction design. I practice user centered design principles, basing design decisions on user needs and business goals.</p>
		<p>But hey! I'm not just designing stuff, I love building it as well. I love prototyping what I design and work very close to developers to a point where I could be considered a developer myself. I code anything from CSS and HTML to C++ and Arduinos.</p>
		<p>I am a Certified ScrumMaster and have been practicing agile and lean methods since day one of working.</p>
		<p>If you want to contact me you can always reach me over <a href='mailto:johan@alexandersson.co'>e-mail</a>.</p>
	</div>
<![endif]-->