<footer class="footer__site {{ page.title-shade }}">
  <ul class="footer__links">
    <li>
    {% if site.email %}
    	<a href="mailto:{{ site.email }}">
      	<span class="icon icon--email">
          <svg>
						<use xlink:href="#icon--email" />
					</svg>
        </span>
        <span class="hidden">Email</span>
    	</a>
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li>
      <a href="http://linkedin.com/in/{{ site.linkedin_username }}">
        <span class="icon icon--linkedin">
          <svg>
						<use xlink:href="#icon--linkedin" />
					</svg>
        </span>
        <span class="hidden">Linkedin</span>
      </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span class="icon icon--twitter">
          <svg>
						<use xlink:href="#icon--twitter" />
					</svg>
        </span>
        <span class="hidden">Twitter</span>
      </a>
    </li>
    {% endif %}

    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <span class="icon icon--github">
          <svg>
						<use xlink:href="#icon--github" />
					</svg>
        </span>
        <span class="hidden">Github</span>
      </a>
    </li>
    {% endif %}

    {% if site.resume %}
    <li>
      <a href="{{ "/resume.pdf" | prepend: site.baseurl | prepend: site.url }}">
        <span>Resume</span>
      </a>
    </li>
    {% endif %}		

  </ul>
</footer>
