<header class="header__site background__image--fill {{ page.title-shade }}" style="background-image: url('{{ page.title-image }}-lg.jpg');">

  <a class="title__site" href="{{ site.baseurl }}/">
    <span class="icon icon--logo">
			<svg>
				<use xlink:href="#icon--logo" />
			</svg>
    </span>
		<span class="title">{{ site.title }}</span>
	</a>

  <nav class="nav__site">

    <div class="primary">
      {% for page in site.pages %}
        {% if page.title %}
        	<a class="link__page" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </nav>

</header>
