<header class="header__site {{ page.title-shade }}">

  <a class="title__site" href="{{ site.baseurl }}/">
    <span class="icon icon--logo">
			<svg>
				<use xlink:href="#icon--logo"/>
			</svg>
    </span>
		<span class="title">{{ site.title }}</span>
	</a>

  <nav class="nav__site">

    <div class="primary">
      {% for node in site.pages %}
        {% if node.title %}
					{% if page.group == node.group %}
          	<a class="link__page active" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}<span class="underline"></span></a>
			    {% else %}
          	<a class="link__page" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}<span class="underline"></span></a>
					{% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </nav>

</header>
