header.header__site {
	text-align: center;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 0px;
	z-index: $zindex-navbar;

	@media (min-width: $screen-desktop) {
		position: fixed;
	  top: 0;
	  left: 0;
	  width: 45%;
	  text-align: left;
	  height: inherit;
		max-height: inherit;
		min-height: inherit;
	  
	  margin-top: 30px;
	  margin-bottom: 30px;
	  margin-left: 30px;
	
	  background-position-x: 50%;
	  background-position-y: 50%;
	  background-size: cover;
	  background-repeat: no-repeat;
	}

	a.title__site {
		font-family: $font-family-serif;
	  font-size: 18px;
	  line-height: $line-height-base;
	  font-weight: 400;
	  -webkit-text-size-adjust: 100%;

		@media (min-width: $screen-desktop) {
	    position: relative;
			top: 30px;
			left: 30px;
		}
	
		&:hover {
			text-decoration: none;
		}
		&:visited {
			color: $almost-black;
		}
	}

	a.title__site span.icon {
		display: block;
		padding-top: 30px;

		@media (min-width: $screen-desktop) {
		  display: inline;
		}
	}
	
	a.title__site span.title {
		display: block;
		margin-top: 20px;
		
		@media (min-width: $screen-desktop) {
		  display: inline;
		  padding-left: 15px;
		}
	}
	
	nav.nav__site {
	  right: 30px;
	  margin-top: 10px;
	  font-size: 1.1rem;
	  
  	@media (min-width: $screen-desktop) {
	    text-align: right;
	    margin-top: 3px;
	    margin-right: 25px;
		}
		
	  a {
		  position: relative;
		  padding: 5px;
			
			@media (min-width: $screen-desktop) {
			  margin-left: 15px;
			}
			
			span.underline {
				position: absolute;
				bottom: 0;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
				width: 0%;
				border-bottom: 2px solid $link-color;
				-webkit-transition: all .35s;
				transition: all .35s;	
			}
			
			&:hover {
			  text-decoration: none;

				span.underline {
					border-bottom: 2px solid $link-hover-color;
					width: 100%;
				}
			}	
			
			&.active span.underline {
				width: 100%;
			}
	  }	  
	}
	
	&.light a {
	  color: $almost-black;
		&:visited {	
		  color: $almost-black;
		}
	}
	&.dark a {
	  color: $almost-white;
		&:visited {	
		  color: $almost-white;
		}
	}
}