
header.page__header, header.list__header {
	margin-top: 190px;
  width: 100%;

	@media (min-width: $screen-desktop) {
		position: fixed;
		width: 45%;
	  
	  margin-top: 30px;
	  margin-bottom: 30px;
	  margin-left: 30px;

		top: 180px;  
	}
}

header.post__header {
	margin-top: 190px;
  width: 100%;

	@media (min-width: $screen-desktop) {
	  margin-top: 60px;
	  margin-bottom: 30px;

		top: 180px;  
	}	
}


.container__masthead.dark .post__title {
		color: $almost-white;
}

.container__body {
	article, header {
		h1, h2, h3, h4, h5, h6, p:not(.gallery) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}	
	@media (min-width: $screen-desktop) {
		margin-left: 45%;
		padding-left: 60px;
		padding-right: 60px;
		
		article, header {
			margin-bottom: 60px;
			h1, h2, h3, h4, h5, h6, p:not(.gallery) {
				padding-left: 0;
				padding-right: 0;
			}		
		}
	}
}

.selfie {
	height: 400px;
  height: 100vw;
  
	@media (min-width: $screen-desktop) {
    position: absolute;
	  top: 0;
    bottom: 0;
    left: 50%;
    right: 60px;

		height: auto;

    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.post__content {
	.post__excerpt {
		@extend .lead
	}
}

.background__image--fill {
	background-position: 50% 50;
	background-repeat: no-repeat;
	background-size: cover;
}
