[data-gallery] {
  display: flex;
  -webkit-flex-flow: row wrap; /* Fix for iOS */
  flex-flow: row wrap;
  justify-content: space-between;  

	a {
		cursor: -webkit-zoom-in;
		cursor: -moz-zoom-in;
		background-color: $gray-light;
		border: none;		

		&.opened {
			cursor: -webkit-zoom-out;
			cursor: -moz-zoom-out;
		}

	  & img {
	    display: block;
	    margin: 0 auto;
// 	    opacity: 0;
	    max-width: 100%;
	    transition: all .25s ease-in-out;
  	}
	}

	&.col-1 a {
		width: 100%;
	}
	
	&.col-2 a {
		width: 49%;
	}
	
	&.col-3 a {
		width: 32%;
	}
}


a[class^='float'] {
  margin: 1rem;
  margin-top: 0;
  width: 33.33333%;
  
  &.float-left {
    float: left;
    margin-left: 0;
  }
  &.float-right {
    float: right;
    margin-right: 0;
  }
}

#fluidbox-overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out;
  
  .fluidbox-opened & {
    z-index: 600;
  }
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
