
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  
	width: 25px * 0.8;
	height: 25px * 0.8;
	@media (min-width: $screen-tablet) {
	  width: 25px;
	  height: 25px;
  }
  vertical-align: middle;
}

.dark .icon > svg {
	fill: $almost-white;
}
.light .icon > svg {
	fill: $almost-black;
}

.icon.icon--color--brand > svg {
	fill: $brand-primary;
}

.icon.icon--54x54 > svg {
	width: 54px * 0.8;
	height: 54px * 0.8;
  margin-top: -12px * 0.8;
	@media (min-width: $screen-tablet) {
    width: 54px;
    height: 54px;
    margin-top: -12px;
  }
}

.icon.icon--logo > svg {
	width: 24px;
	height: 27px;
	margin-top: -3px;
}

.icon.icon--linkedin > svg {
	width: 20px;
	height: 20px;
}

.icon.icon--github > svg {
	width: 22px;
	height: 22px;
}

.icon.icon--twitter > svg {
	margin-top: -1px;
}

