article {
	padding-left: 30px;
	padding-right: 30px;
}

@media (min-width: $screen-md) {
	#container__copy {
		padding-left: 45%;
		
		article {
			padding-left: 130px;
			padding-right: 100px;
		}
	}

}

