.reveal[data-reveal-once], .reveal[data-reveal-position] {
	opacity: 0;
	@media (min-width: $screen-md) {
		display: none;
	}
}

.reveal.active[data-reveal-once], .reveal.active[data-reveal-position] {
	opacity: 1;
	@media (min-width: $screen-md) {
		display: block;
	}
}
.reveal.gallery.active[data-reveal-once], .reveal.gallery.active[data-reveal-position] {
	opacity: 1;
	@media (min-width: $screen-md) {
	  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;
 	}
}

.reveal {
	-webkit-animation-duration: 450ms;
	animation-duration: 450ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.reveal.staggered-25 {
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			-webkit-animation-delay: #{$i * 25}ms; 
			animation-delay: #{$i * 25}ms; 
		}
	}
}

.reveal.staggered-50 {
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			-webkit-animation-delay: #{$i * 50}ms; 
			animation-delay: #{$i * 50}ms; 
		}
	}
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}